{{ partial "header.html" . }}

<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div id="blog-archives" class="category">
        {{ range (where .Site.Pages "Type" "post") }}
              <h3 class="year-format">
                {{ .Date | dateFormat "2" }}   <!-- print publish day -->
                {{ .Date | dateFormat "Jan" }} <!-- print publish month -->
                {{ .Date | dateFormat "2006"}}                
              </h3>
              <article>
                <h3>
                  <a href="{{ .Permalink }}" title="{{ .Title }}"> {{ .Title }}</a>
                </h3>
              </article>
                
            
        {{ end }}
        </div>
    </div>
  </div>
</div>
